{% comment %}
  Takes two arguments: 
    1. form (required) 
    2. btn_text (optional)
{% endcomment %}

{% load static %}
{% load django_bootstrap5 %}


<form class="panel-body" method="POST" enctype="multipart/form-data">
  {% csrf_token %}

  {% if form.errors %}
    {% bootstrap_form_errors form %}
  {% endif %}

  {% bootstrap_form form %}


  <button class="btn btn-sm col-sm-12 btn-outline-success" type="submit">
    {% if btn_text %}
      {{ btn_text }}
    {% else %}
      Create
    {% endif %}
  </button>
</form>